/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f293a;
}

.container1{
    position: relative;
    width: 500px;
    height: 530px;
    background: transparent;
    border: 2px solid #0ef;
    display: flex;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.container1 .login-box{
    position: relative;
    width: 100%;
    background: yellowgreen;
}

.page-box .login-tittle{
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.login-title h2{
    font-size: 32px;
    line-height: 1.5;
}

.login-title p{
    font-size: 16px;
    font-weight: 500;
}

.page.input-box{
    position: relative;
    width: 100%;
    height: 55px;
    
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    padding: 0 16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%);
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.forgot{
    margin-top: 6px;
}

.forgot a{
    font-size: 14.5px;
    color: #0ef;
    text-decoration: non;
}

.forgot a:hover{
    text-decoration: underline;
}

.guest-mode{
    margin: 40px 0;
}

.guest-mode p{
    font-size: 14.5px;
    color: #fff;
}

.guest-mode a{
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.guest-mode a:hover{
    text-decoration: underline;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-box a{
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.btn-box a:hover{
    text-decoration: underline;
}

.btn-box button{
    width: 90px;
    height: 40px;
    background: #0ef;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #1f293a;
    font-weight: 600;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
} */

body {
    background-color: #fcfcfc;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }


/* FOOTER */
#imp-link {
    background-color: rgb(78, 39, 78);
    color: #fdfdfd;
    overflow: auto;
}

.div33 {
    width: 33.33%;
    float: left;
    padding: 25px 50px;
}

.div33 p{
    font-size:15px;
}

.div33 h3 {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu li {
    padding: 3px;
}

.footer-menu li a {
    text-decoration: none;
    color: #fdfdfd;
}

#footer-menu-container {
    padding-left: 100px;
}

#copyright {
    background-color: #1e0120;
}

#copyright p {
    padding: 15px;
}

#copypath {
    text-align: center;
    color: #ad52bd;
}
